extends parentLayout
block pageScript
    script(src='./javascripts/skillList_client.js')
block mainContent
    title=title
    .mainHome
        #categoryList1
                h3 List of All Categories
                ul
                    each categoryItem in categoryList
                        li.list #{categoryItem.name}