extends parentLayout
block pageScript
    
block mainContent
    div 
        h1=title
        div.upperHalf.imgBgFeatures
        .wrapper
            .testimonialItem
                .image-wrapper
                    img(src='/images/design/growWithUs.png', alt='')
                
                h4 Grow with us
                hr.hr1
                p  We believe in growth. And we are happy to enable you in growing along with us.
            .testimonialItem
                .image-wrapper
                    img(src='/images/design/EasyToLocate.png', alt='')
                h4 Easy to locate
                hr.hr1
                p   Centralized set of skill classes in your city to search for and to compare them. Sounds good... Right?
            .testimonialItem
                .image-wrapper
                    img(src='/images/design/serveDifferentUserTypes.png', alt='')
                h4 Services for different user types
                hr.hr1
                p  Whethere you are looking for right classes for any skill or you are a material supplier for such classes or you want to be trainer in your area of experties, this is the perfect place to visit.
            .testimonialItem
                .image-wrapper
                    img(src='/images/design/reminder.png', alt='')
                h4 You can count on us
                hr.hr1
                p  To avoid no-shows we have provision of text and/or email reminder for your appointment.