extends ./parentLayout.pug
block mainContent
    .main
        div
            .featureDiv
                img(src='/images/design/growWithUs.png')
                p
                strong  Grow with us
                br
                |  We believe in growth. And we are happy to enable you in growing.
            .featureDiv
                img(src='/images/design/reminder.png')
                p
                strong  You can count on us
                br
                |  To avoid no-shows we have provision of text and/or email reminder for your appointment.
            .featureDiv
                img(src='/images/design/EasyToLocate.png')
                p
                strong  Easy to locate
                br
                |  Centralized set of skill classes in your city to search for and to compare them. Sounds good... Right?
            .featureDiv
                img(src='/images/design/serveDifferentUserTypes.png')
                p
                strong  Services for different user types
                br
                |  Whethere you are looking for right classes for any skill or you are a material supplier for such classes or you want to be trainer in your area of experties, this is the perfect place to visit.
            .featureLable FEATURES
