extends parentLayout
block pageScript
  script(src='./javascripts/skillList_client.js')
  style.
      * {
      font-family: Georgia;
      }
      #formContainer {
      z-index: 1;
      width: 700px;
      height: auto;
      vertical-align: middle;
      margin-left: auto;
      margin-right: auto;
      padding: 30px;
      border: 0.5px solid grey;
      border-radius: 5px;
      box-shadow: 4px 4px 6px 2px #ddd;
      }
      #formContainer h1 {
      text-align: center;
      color: darkBlue;
      }
      input[type="text"] {
      margin-bottom: 20px;
      }
block mainContent
  .mainWrapper
    div.upperHalf.imgBgInstitute
    #instituteList
      h3 List of All Institutes
      div
        table
          tr
            th ID
            th Institute Name
            th Address
            th Postal Code
            th Phone Number
            each instituteItem in instituteList
                +instituteRow(instituteItem)
    #formContainer
      form(action='addInstitute()')
        h1 New Institute
        br
        input(type='text', name='name', placeholder='Institute Name', required='')
        br
        input(type='text', name='address', placeholder='Address', required='')
        br
        input(type='text', name='postalCode', placeholder='postal code', required='')
        br
        input(type='text', name='city', value='SASKATOON', required='', disabled='')
        br
        input(type='text', name='country', value='CANADA', required='', disabled='')
        br
        input(type='text', name='phoneNumber', placeholder='Phone Number', required='')
        br
        |  Child-minding available ? 
        input(type='checkbox', name='remind')
        br
        button(type='submit', name='submit') Add Institute
        br
    
      