include ./all_Mixins.pug
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='/images/design/favicon.ico', type='image/x-icon')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title=title
    block pageScript
  body
    div.topBar
      a(href='/login') Login
    .menuNav
      .logoDiv
        img(src='/images/design/skillLocateLogoPinned.png' onclick="")
      a.active(href='/') HOME
      a(href='/features') FEATURES
      a(href='/skillList') FOR YOU
      a(href='/institutes') INSTITUTES
      a(href='/categories') CATEGORIES
      a(href='/testimonials') TESTIMONIALS
    block mainContent
    .footerWrapper
      p © 2018 SkillLocate. All rights are reserved.