extends parentLayout
block pageScript
    script(src='./javascripts/skillList_client.js')
    
block mainContent
    .mainWrapper
        div
            div.searchBar
                div.col-25
                    input(type="text", name="skillName" onChange="filterSkills()" placeholder="search for categories, skills and trainers of skills")#name
                div.col-25(style="padding-left:5px;")
                    button(type="submit" onclick="filterSkills()") Search
        div(style="display:flex;")
            #skillOrderedList
                h4 Skill Classes to choose from
                hr.hr1
                each item in itemList
                    +skillClass(item)