a{
  color: rgb(3, 86, 119);
  font-family: calibri;
}

/****************************************************************************************/

/***********************************skillList page CSS ***************************/
.anchorBlock{
  float: left;
  padding: 8px 15px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: rgb(254,181,44);
  display: block;
  background-color: #1180db;
  opacity:0.8;
  transition: 0.2s ease-out;
  font-family: "calibri";
  font-stretch: expanded;
}
.anchorBlock:hover{
  opacity: 1;
}
/**********************************Skill Class Item DIV*************************/
.skillItem{
  display: inline-block;
  width:200px;
  min-height: 400px;
  padding:20px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 1px #aaa;
  font-family: calibri;
  margin: 10px;
  background: white;
}
.skillItem:hover
{
  background: rgb(248, 245, 245);
  transition: ease;
}
.skillItem hr
{
  width: 50px;
  float: left;
  border: 2px solid darkblue;
  opacity:0.6;
}
.skillItem hr:hover{
  border: 2px solid blue;
  opacity:1;
}
.skillItem img{
  flex-shrink:0;
  -webkit-flex-shrink: 0;
  width:96%;
  max-height:98%;
  border: 4px solid white;
}

.skillImgContainer {
  width: 200px;
  height: 120px;
  border: 0.5px solid #ccdcf5;

}
/********************slide show on appointment page******************************/

.imgBox{
  width: 400px;
  height: 300px;
  overflow:hidden;
}
/* Slideshow container */
.slideshow-container1 {
  max-width: 400px;
  position: relative;
  margin-right: 20px;
  padding: 20px;
  border: 1px solid #ccc;

}
.skillItem-Container{
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px;
  width: 97%;
  padding: 20px;
  max-height : 500px;
  box-shadow: -4px 4px 5px 2px #ccc;
}
.slideshow-container {
  width : auto;
  margin-right : 10px;
  padding: 20px;
  border: 1px solid #aaa;
}
/* Hide the images by default */
.mySlides {
    display:block;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(221, 173, 17);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 8px 3px 0;
  background-color:#032a49;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev{
  left:0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color:#0861aa;
}

/* Caption text */


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #0861aa;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #032a49;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .5} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .5} 
  to {opacity: 1}
}
/***********************************************************************/

/* skill -details div*/
.skill-details
{
  width: 60%;
  margin-left: 10px;
  padding: 20px;
  border: 1px solid #aaa;
}
.skill-details-left{
  display: inline-block;
  width: 45%;
  border-right: 2px solid #032a49;
  padding: 10px;
}
.skill-details-right{
  display: inline-block;
  width: auto;
  padding-left: 30px;
}
/************************************************/

/**********************************Appointment Form*******************************/
/* Style the container */
.appointmentForm{
  width: 600px;
  margin: auto;
  border-radius: 5px;
  background-color: #f8f8f8;
  padding: 20px;
  border: 1px solid #ccc;
}

form h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
/***************************CAtegories and Institutes*************/

#categoryList, #instituteList
{
    display: block; 
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    width: 60%; 
    max-width: 80%; 
    height: auto;
    padding:30px;
    border: 0.5px solid grey;
    border-radius: 5px;
    box-shadow: 4px 4px 6px 2px #ddd;
    text-align: center;
}