/* Coolors Exported Palette - coolors.co/9f0709-0a0308-fdd816-5bbc1e-301571 */

/* HSL */
$color1: hsla(359%, 92%, 33%, 1);
$color2: hsla(317%, 54%, 3%, 1);
$color3: hsla(50%, 98%, 54%, 1);
$color4: hsla(97%, 72%, 43%, 1);
$color5: hsla(258%, 69%, 26%, 1);

/* RGB */
$color1: rgba(159, 7, 9, 1);
$color2: rgba(10, 3, 8, 1);
$color3: rgba(253, 216, 22, 1);
$color4: rgba(91, 188, 30, 1);
$color5: rgba(48, 21, 113, 1);