* {
  color:  #062b44;
  text-rendering: optimizeLegibility;
  }
  
body {
  font-size: 16px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
}

p, strong, span, div, ul, li, ol, h1, h2,h3, h4{
  background-color: transparent;
  color: inherit;
}

a {
  color: rgb(3, 86, 119);
  font-family: calibri;
}
/* Style the submit button */
button  {
  background-color: #18578a;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover{
  background-color: #022a4b;
}

/* Style inputs, select elements and textareas */
input[type=text], input[type=email], input[type=datetime-local], textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

input:invalid+span:after {
  content: '✖';
  padding-left: 5px;
}

input:valid+span:after {
  content: '✓';
  padding-left: 5px;
}

input[type=checkbox]{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 2px;
}
/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}


/****************************Table CSS style*****************************************/
table {
  font-family: "Georgia", sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color :white;
}

table td, table th {
  border: 1px solid grey;
  padding: 2px;
  min-width: 50px;
}

table tr:nth-child(even){background-color: #ccdcf5;}

table tr:hover {background-color: rgb(245, 201, 59);
color: #022a4b;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color :rgb(221, 173, 17);
  color: rgb(85, 100, 241);
}
/**********************************Table CSS end********************************/


/*********************************ex-style.css******************************/

  #featureHeading {
    font-size: x-large;
    padding-left: 50px;
  }
  
/* rgb(221, 173, 17) - yellow
  rgb(11, 11, 11) - blue
  white */
  
  ::placeholder {
    color: grey;
    font-size: small;
    opacity: 0.5; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: grey;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: grey;
  }
.topBar
{
  position: fixed;
  top: 0;
  z-index:1;
  height: 40px;
  width: 100%;
  background-color: white;
  color: rgb(241, 188, 12);
}
   
  .menuNav_old {
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:rgb(241, 188, 12);
    overflow-x: hidden;
    padding-left: 20px;
   /* border-bottom: 2px double blue ; */
    
}
  
  .menuNav {
    width: 100%;
    height: 45px;
    position: fixed;
    z-index: 1;
    top: 40px;
    left: 0;
    background-color:#1180db;
    overflow-x: hidden;
    padding-left: 20px;
    box-shadow: 0 5px 5px 0 rgba(128, 128, 128, 0.534);
    /* border-bottom: 2px double blue ; */
    
}

.menuNav a {
    float: left;
    padding: 10px 15px;
    margin-left: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: rgb(254,181,44);
    display: block;
    background-color: #1180db;
    transition: 0.2s ease-out;
    font-family: "calibri";
    font-stretch: expanded;
    
    /* font-family: "medium-content-sans-serif-font, Georgia"; */
}

.menuNav a:hover {
    color:rgb(0,98,199);
    background-color: rgb(254,181,44);
    transition: 0.3s ease-in;
    border-radius: 8px;
}


.logoDiv
{
 position: fixed;
 top: 15px;
 right: 10px;
 background: transparent;
/* box-shadow: 0 8px 8px 0 rgba(221, 224, 18, 0.4);   */

}
 .logoDiv > img
 {
  height: 40px;
  width: auto;
  padding: 0px;
  margin: 0px;
  border-radius: 8px;
  transition: 0.4s ease;
}

.logoDiv > img:hover
{
  height: 45px;
  width: auto;
  transition: 0.4s ease;
}

.main {
    margin-top: 90px; 
    padding: 10px 10px;
    background-image:  url("../images/design/bg_Vbar.png");
    background-repeat: repeat-y;
    background-color: rgb(255, 255, 255);
    background-position-y: 0%;
    background-position-x: 0%;
}

.mainWrapper
{
  margin-top: 100px; 
}

.mainHome
{
  margin-top: 120px; 
  padding: 10px 10px; 
}

@media screen and (max-height: 450px) {
    .menuNav {padding-top: 15px;}
    .menuNav a {font-size: 18px;}
}

/****************************************************************/

.featureDiv
{
  width: 70%;
  text-align: left;
  background-color: white;
  height: 100px;
  margin-bottom: 25px;
  border-top: 0.5px solid rgb(241, 220, 23);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 5px 5px 0 rgba(128, 128, 128, 0.534);
  transition: .5s ease;
  
}

.featureDiv:hover
{
  background-color: ghostwhite;
  border-top: 0.5px solid rgb(59, 190, 241);
  margin-left:30px;
  transition: .5s ease;
}

.featureDiv > img
{
  float: left;
  height: 100px;
  width: auto;
  margin-right: 20px;
}

.featureDiv ~ p{
   margin-left: 20px;
   padding-left: 20px;
}

.featureLable
{
  float: right;
  position: fixed;
  top: 100px;
  right: 110px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 35pt;
  font-family: fantasy;
}

/******************************************************************************************************/
.footerWrapper
{
    width: 100%;
    height: 80px;
    margin-top: 50px;
    border-top: 1px dotted rgb(5, 5, 5);
    background-image: url("../images/design/footer_colorBlock.png");
    background-repeat: repeat-x;
    background-color: rgb(255, 255, 255);
    background-position-y: 5px;
    background-position-x: 0%;
}

/*********************************home page css***************************************/
.container {
  position: relative;
  width: 80%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlayTop {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  /* background-color: rgb(254,181,44); */
/*  background: radial-gradient(black, grey, black) ; */
  background: radial-gradient(rgb(254, 222, 45),rgb(254, 222, 45),rgb(70,70,70)) ;
  opacity:0.7;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .8s ease;
}

.container:hover .overlayTop {
  bottom: 50%;
  height: 50%;
}

.textTop{
  color: black;
  font-weight: bold;
  font-size: 16pt;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.textTop span
{
  color: white;
  font-size: 22pt;
}

.overlayBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(rgb(70,70,100),  rgb(0,98,199)) ;
  opacity: 0.6;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .8s ease;
  border: 1px dotted white;
}

.container:hover .overlayBottom {
  height: 50%;
}

.textBottom {
  color: white;
  font-size: 30pt;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.textBottom > span
{
  color: white;
  font-size: 35pt;
}

/****************************************************************************************/

/***********************************skillList page CSS ***************************/
.anchorBlock{
  float: left;
  padding: 8px 15px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: rgb(254,181,44);
  display: block;
  background-color: #1180db;
  opacity:0.8;
  transition: 0.2s ease-out;
  font-family: "calibri";
  font-stretch: expanded;
}
.anchorBlock:hover{
  opacity: 1;
}
/**********************************Skill Class Item DIV*************************/
.skillItem{
  display: inline-block;
  width:200px;
  min-height: 400px;
  padding:20px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 1px #aaa;
  font-family: calibri;
  margin: 10px;
  background: white;
}
.skillItem:hover
{
  background: rgb(248, 245, 245);
  transition: ease;
}
.skillItem hr
{
  width: 50px;
  float: left;
  border: 2px solid darkblue;
  opacity:0.6;
}
.skillItem hr:hover{
  border: 2px solid blue;
  opacity:1;
}
.skillItem img{
  flex-shrink:0;
  -webkit-flex-shrink: 0;
  width:96%;
  max-height:98%;
  border: 4px solid white;
}

.skillImgContainer {
  width: 200px;
  height: 120px;
  border: 0.5px solid #ccdcf5;

}
/********************slide show on appointment page******************************/

.imgBox{
  width: 400px;
  height: 300px;
  overflow:hidden;
}
/* Slideshow container */
.slideshow-container1 {
  max-width: 400px;
  position: relative;
  margin-right: 20px;
  padding: 20px;
  border: 1px solid #ccc;

}
.skillItem-Container{
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px;
  width: 97%;
  padding: 20px;
  max-height : 500px;
  box-shadow: -4px 4px 5px 2px #ccc;
}
.slideshow-container {
  width : auto;
  margin-right : 10px;
  padding: 20px;
  border: 1px solid #aaa;
}
/* Hide the images by default */
.mySlides {
    display:block;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(221, 173, 17);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 8px 3px 0;
  background-color:#032a49;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev{
  left:0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color:#0861aa;
}

/* Caption text */


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #0861aa;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #032a49;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .5} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .5} 
  to {opacity: 1}
}
/***********************************************************************/

/* skill -details div*/
.skill-details
{
  width: 60%;
  margin-left: 10px;
  padding: 20px;
  border: 1px solid #aaa;
}
.skill-details-left{
  display: inline-block;
  width: 45%;
  border-right: 2px solid #032a49;
  padding: 10px;
}
.skill-details-right{
  display: inline-block;
  width: auto;
  padding-left: 30px;
}
/************************************************/

/**********************************Appointment Form*******************************/
/* Style the container */
.appointmentForm{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
  background-color: #e5e772;
  padding: 20px;
  border: 1px solid #ccc;
  transition: 0.4s ease;
}

form h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
/***************************CAtegories and Institutes*************/

#categoryList, #instituteList
{
    display: block; 
    margin-left:auto;
    margin-right:auto;
    margin-top: -80px;
    margin-bottom: 80px;
    width: 60%; 
    max-width: 80%; 
    height: auto;
    padding:30px;
    border: 0.5px solid grey;
    border-radius: 5px;
    box-shadow: 4px 4px 6px 2px #ddd;
    text-align: center;
    background-color: white;
}

.list {
  
  margin-bottom: 10px;
  background-color: #18578a;
  color: white;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 30%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-stretch: expanded;
  font-size: large;
}

.list:hover{
  opacity: 0.8;
}
/**************Testimonials******************/
.testimonialItem{
  display: inline-block;
  width:200px;
  min-height: 400px;
  padding-left:20px;
  padding-right:20px;
  padding-top:auto;
  padding-bottom:auto;
  border: 1px solid #ddd;
  box-shadow: -2px 2px 8px 2px #aaa;
  font-family: calibri;
  border: 1px solid #aaa;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: -60px;
  transition: .5s ease;
  background: white;
  
}
.testimonialItem p{
  font-style: italic;
}
.testimonialItem:hover{
  
  background-color: ghostwhite;
  border-top: 0.5px solid rgb(59, 190, 241);
  margin-top:-50px;
  transition: .5s ease;
}

.wrapper{
  display:flex;
  margin-right: auto;
  margin-left:auto;
  min-width:60%;
  max-width:60%;
}
.image-wrapper{
  width: 100px;
  height: 100px;
  border: 2px solid black;
  overflow: hidden;
  border-radius:50%;
  margin-left:auto;
  margin-right: auto;
  margin-top: 20px;
}
.image-wrapper img{
  width:100px;
}
.userName{
  display: block;
  width: 200px;
  height: 40px;
  border: 0.5px solid #73a4c5;
  border-radius:8px;
  margin-left:auto;
  margin-right: auto;
  margin-top: 20px;
  text-align:center;
  background-color: #061744;
  color: white;
  padding-bottom: 5px;
  font-family: Georgia;
}

.hr1{
  width: 50px;
  border: 2px solid #061744;
  opacity:0.6;
  margin-top: 10px;
  margin-bottom: 10px;
}
.upperHalf
{
  width: 100%;
  height: 250px;
}
.imgBgFeatures
{
  background-image: url("../images/design/features.jpg"), url("../images/design/features_bg.jpg");
  background-position-x: 320px, 0px;
  background-position-y: 0px;
  background-repeat: no-repeat, repeat-x;
  border-bottom: 10px solid green;
}
.imgBgTestimonials
{
  background-image: url("../images/users/people1.jpg");
  background-position-y: -250px;
  background-position-x: -50px;
  border-bottom: 10px solid darkblue;
}
.imgBgSkills
{
  background-image: url("../images/design/skills.png");
  background-position-y: -10px;
  background-position-x: -50px;
  background-repeat: repeat-x;
  border-bottom: 10px solid rgb(221, 173, 17);
  transition: 0.4s ease;

}

.imgBgInstitute
{
  background-image: url("../images/design/BG_institute.jpg");
  background-position-y: -200px;
  background-position-x: -50px;
  border-bottom: 10px solid rgb(62, 122, 5);
}
.searchBar{
  background-color:  rgb(221, 173, 17);
  padding: 5px;
  height: 55px;
}

.sideBG
{
  width: 100%;
  height: auto;
  background-image: url("../images/design/bgCategory.png");
}
